.css-46bh2p-MuiCardContent-root{
    background-color: rgba(0, 107, 179, 0.15) !important;
    backdrop-filter: blur(10px) !important;
    color: azure !important;

}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    background-color: rgba(0, 107, 179, 0) !important;
    border-radius: 10px !important;
    color: azure !important;
}
.css-1t6e9jv-MuiCardActions-root{
    background-color: rgba(255, 255, 255, 0.579) !important;
    color: azure !important;
}
.css-r40f8v-MuiTypography-root{
    color: azure !important;
}